# Importation

In [1]:
import pandas as pd
import numpy as np

# Exercice 1

In [2]:
# Create a Pandas Series
data = {'a': 100, 'b': 200, 'c': 300}
series = pd.Series(data)

print(series)

a    100
b    200
c    300
dtype: int64

# Exercice 2

In [5]:
# Create a DataFrame
data = {'A': [1, 4, 7], 'B': [2, 5, 8], 'C': [3, 6, 9]}
df = pd.DataFrame(data)

# Add a new column D with values [10, 11, 12].
df['D'] = [10, 11, 12]

print('the result with the new column')
print(df)

# Drop column B from the DataFrame
df = df.drop(columns=['B'])

print('\nthe result final without column B  ')
print(df)

the result with the new column
   A  B  C   D
0  1  2  3  10
1  4  5  6  11
2  7  8  9  12

the result final without column B
   A  C   D
0  1  3  10
1  4  6  11
2  7  9  12

# Exercice3

In [9]:
#Create a DataFrame
data = {'A': [1, 4, 7], 'B': [2, 5, 8], 'C': [3, 6, 9]}
df = pd.DataFrame(data)

print('Select column B from the following DataFrame')
print(df['B'])

print('\n Select both columns A and C')
print(df[['A', 'C']])

print('\n Select the row with index 1 using the .loc method')
print(df.loc[1])

Select column B from the following DataFrame
0    2
1    5
2    8
Name: B, dtype: int64

 Select both columns A and C
   A  C
0  1  3
1  4  6
2  7  9

 Select the row with index 1 using the .loc method
A    4
B    5
C    6
Name: 1, dtype: int64

# Exercice4

In [10]:
# Create a DataFrame
data = {'A': [1, 4, 7], 'B': [2, 5, 8], 'C': [3, 6, 9]}
df = pd.DataFrame(data)


df['Sum'] = df['A'] + df['B'] + df['C']
print("DataFrame after adding the 'Sum' column:")
print(df)


df = df.drop(columns=['Sum'])
print("\nDataFrame after removal the 'Sum' column:")
print(df)


df['Random'] = np.random.rand(len(df))
print("\nDataFrame after adding the'Random' column:")
print(df)

DataFrame after adding the 'Sum' column:
   A  B  C  Sum
0  1  2  3    6
1  4  5  6   15
2  7  8  9   24

DataFrame after removal the 'Sum' column:
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

DataFrame after adding the'Random' column:
   A  B  C    Random
0  1  2  3  0.644939
1  4  5  6  0.950249
2  7  8  9  0.980718

# Exercice 5

In [11]:
# Create the DataFrames
left = pd.DataFrame({'key': [1, 2, 3], 'A': ['A1', 'A2', 'A3'], 'B': ['B1', 'B2', 'B3']})
right = pd.DataFrame({'key': [1, 2, 3], 'C': ['C1', 'C2', 'C3'], 'D': ['D1', 'D2', 'D3']})


merged = pd.merge(left, right, on='key')
print("Merge with inner join:")
print(merged)

merged_outer = pd.merge(left, right, on='key', how='outer')
print("\nMerge with outer join:")
print(merged_outer)

right['E'] = ['E1', 'E2', 'E3']

merged_with_E = pd.merge(left, right, on='key', how='outer')
print("\nMerge with added 'E' column:")
print(merged_with_E)

Merge with inner join:
   key   A   B   C   D
0    1  A1  B1  C1  D1
1    2  A2  B2  C2  D2
2    3  A3  B3  C3  D3

Merge with outer join:
   key   A   B   C   D
0    1  A1  B1  C1  D1
1    2  A2  B2  C2  D2
2    3  A3  B3  C3  D3

Merge with added 'E' column:
   key   A   B   C   D   E
0    1  A1  B1  C1  D1  E1
1    2  A2  B2  C2  D2  E2
2    3  A3  B3  C3  D3  E3

# Exercice 6

In [12]:
# Create the DataFrame
df = pd.DataFrame({
    'A': [1.0, np.nan, 7.0],
    'B': [np.nan, 5.0, 8.0],
    'C': [3.0, 6.0, np.nan]
})

print("Original DataFrame:")
print(df, "\n")

df_zeros = df.fillna(0)
print("DataFrame with NaN replaced by 0:")
print(df_zeros, "\n")

df_mean = df.apply(lambda col: col.fillna(col.mean()), axis=0)
print("DataFrame with NaN replaced by the mean of each column:")
print(df_mean, "\n")

df_dropped = df.dropna()
print("DataFrame with rows dropped where any value is NaN:")
print(df_dropped)

Original DataFrame:
     A    B    C
0  1.0  NaN  3.0
1  NaN  5.0  6.0
2  7.0  8.0  NaN

DataFrame with NaN replaced by 0:
     A    B    C
0  1.0  0.0  3.0
1  0.0  5.0  6.0
2  7.0  8.0  0.0

DataFrame with NaN replaced by the mean of each column:
     A    B    C
0  1.0  6.5  3.0
1  4.0  5.0  6.0
2  7.0  8.0  4.5

DataFrame with rows dropped where any value is NaN:
Empty DataFrame
Columns: [A, B, C]
Index: []

# Exercice 7

In [13]:
# Create the DataFrame
df = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Value': [1, 2, 3, 4, 5, 6]
})

print("Original DataFrame:")
print(df, "\n")

mean_group = df.groupby('Category')['Value'].mean()
print("Mean of 'Value' by 'Category':")
print(mean_group, "\n")

sum_group = df.groupby('Category')['Value'].sum()
print("Sum of 'Value' by 'Category':")
print(sum_group, "\n")

count_group = df.groupby('Category')['Value'].count()
print("Number of entries in each 'Category':")
print(count_group)

Original DataFrame:
  Category  Value
0        A      1
1        B      2
2        A      3
3        B      4
4        A      5
5        B      6

Mean of 'Value' by 'Category':
Category
A    3
B    4
Name: Value, dtype: int64

Sum of 'Value' by 'Category':
Category
A     9
B    12
Name: Value, dtype: int64

Number of entries in each 'Category':
Category
A    3
B    3
Name: Value, dtype: int64

# Exercice 8

In [14]:
# Create the DataFrame
df = pd.DataFrame({
    'Category': ['A', 'A', 'A', 'B', 'B', 'B'],
    'Type': ['X', 'Y', 'X', 'Y', 'X', 'Y'],
    'Value': [1, 2, 3, 4, 5, 6]
})

print("Original DataFrame:")
print(df, "\n")

pivot_mean = df.pivot_table(values='Value', index='Category', columns='Type', aggfunc='mean')
print("Pivot table showing the mean of 'Value':")
print(pivot_mean, "\n")

pivot_sum = df.pivot_table(values='Value', index='Category', columns='Type', aggfunc='sum')
print("Pivot table showing the sum of 'Value':")
print(pivot_sum, "\n")

pivot_mean_margins = df.pivot_table(values='Value', index='Category', columns='Type', aggfunc='mean', margins=True)
print("Pivot table with margins (total mean):")
print(pivot_mean_margins)

Original DataFrame:
  Category Type  Value
0        A    X      1
1        A    Y      2
2        A    X      3
3        B    Y      4
4        B    X      5
5        B    Y      6

Pivot table showing the mean of 'Value':
Type      X  Y
Category
A         2  2
B         5  5

Pivot table showing the sum of 'Value':
Type      X   Y
Category
A         4   2
B         5  10

Pivot table with margins (total mean):
Type      X  Y  All
Category
A         2  2  2.0
B         5  5  5.0
All       3  4  3.5

# Exercice 9

In [15]:
# Time Series Data
date_range = pd.date_range(start='2023-01-01', periods=6, freq='D')  # 6 periods, daily frequency
data = np.random.randn(6)  # Random values for 6 periods


df = pd.DataFrame({'Date': date_range, 'Value': data})
print("Original DataFrame:")
print(df, "\n")

df.set_index('Date', inplace=True)
print("DataFrame with 'Date' as the index:")
print(df, "\n")

df_resampled = df.resample('2D').sum()
print("Resampled DataFrame (sum for each 2-day period):")
print(df_resampled)

Original DataFrame:
        Date     Value
0 2023-01-01 -1.885344
1 2023-01-02  2.358314
2 2023-01-03 -1.888154
3 2023-01-04 -1.161571
4 2023-01-05  0.157560
5 2023-01-06  0.297250

DataFrame with 'Date' as the index:
               Value
Date
2023-01-01 -1.885344
2023-01-02  2.358314
2023-01-03 -1.888154
2023-01-04 -1.161571
2023-01-05  0.157560
2023-01-06  0.297250

Resampled DataFrame (sum for each 2-day period):
               Value
Date
2023-01-01  0.472969
2023-01-03 -3.049725
2023-01-05  0.454810

# Exercice 10

In [16]:
# Handling Missing Data
data = {
    'A': [1.0, 2.0, np.nan],
    'B': [np.nan, 5.0, 8.0],
    'C': [3.0, np.nan, 9.0]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df, "\n")


df_interpolated = df.interpolate()
print("DataFrame after interpolating missing values:")
print(df_interpolated, "\n")


df_dropped = df.dropna()
print("DataFrame after dropping rows with NaN values:")
print(df_dropped)

Original DataFrame:
     A    B    C
0  1.0  NaN  3.0
1  2.0  5.0  NaN
2  NaN  8.0  9.0

DataFrame after interpolating missing values:
     A    B    C
0  1.0  NaN  3.0
1  2.0  5.0  6.0
2  2.0  8.0  9.0

DataFrame after dropping rows with NaN values:
Empty DataFrame
Columns: [A, B, C]
Index: []

# Exercice 11

In [17]:
#DataFrame Operations
data = {
    'A': [1, 4, 7],
    'B': [2, 5, 8],
    'C': [3, 6, 9]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df, "\n")

df_cumsum = df.cumsum()
print("Cumulative sum of the DataFrame:")
print(df_cumsum, "\n")

df_cumprod = df.cumprod()
print("Cumulative product of the DataFrame:")
print(df_cumprod, "\n")

df_subtracted = df.applymap(lambda x: x - 1)
print("DataFrame after subtracting 1 from all elements:")
print(df_subtracted)

Original DataFrame:
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

Cumulative sum of the DataFrame:
    A   B   C
0   1   2   3
1   5   7   9
2  12  15  18

Cumulative product of the DataFrame:
    A   B    C
0   1   2    3
1   4  10   18
2  28  80  162

DataFrame after subtracting 1 from all elements:
   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8